<MudPaper Class="p-4">
    <MudForm>
        <div style="display: flex; align-items: center; gap: 20px;">
            <MudSelect Label="Priority" T="int" @bind-Value="Package.Priority" FullWidth>
                <MudSelectItem Value="1" />
                <MudSelectItem Value="2" />
                <MudSelectItem Value="3" />
                <MudSelectItem Value="4" />
                <MudSelectItem Value="5" />
            </MudSelect>

             <div class="form-group" style="flex-grow: 1;">
                 <label for="deadline">Deadline:</label>
                 <input type="date" id="deadline" @bind="Package.Deadline" class="form-control" />
             </div>

             <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="SaveChanges" Class="mt-5">Save</MudButton>
         </div>
     </MudForm>
 </MudPaper>