USE [master]
GO
/****** Object:  Database [WFS_2590]    Script Date: 3/12/2024 11:45:21 PM ******/
CREATE DATABASE [WFS_2590]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WFS_2590_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WFS_2590.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WFS_2590_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\WFS_2590.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WFS_2590].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WFS_2590]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 3/12/2024 11:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](25) NULL,
	[LastName] [varchar](25) NULL,
	[Role] [varchar](50) NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Address1] [varchar](100) NULL,
	[Address2] [varchar](100) NULL,
	[City] [varchar](20) NOT NULL,
	[Province] [varchar](20) NOT NULL,
	[Company] [varchar](30) NOT NULL,
	[PwdToken] [varchar](128) NULL,
 CONSTRAINT [PK__Client__E67E1A0489A114ED] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DrawingRequest]    Script Date: 3/12/2024 11:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrawingRequest](
	[DrawingRequestID] [int] NOT NULL,
	[PackageID] [int] NULL,
	[IssuedForConstruction] [bit] NULL,
	[WeldMapComplete] [bit] NULL,
	[ThicknessRangeQualifiedAcceptable] [bit] NULL,
	[CorrectWPS] [bit] NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK__DrawingR__D882DC00B0E8F233] PRIMARY KEY CLUSTERED 
(
	[DrawingRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 3/12/2024 11:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[Address1] [varchar](50) NULL,
	[Address2] [varchar](50) NULL,
	[Role] [varchar](20) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Province] [varchar](20) NOT NULL,
	[PostalCode] [varchar](20) NULL,
	[PwdToken] [varchar](128) NULL,
	[DateNotify] [datetime] NULL,
 CONSTRAINT [PK__Employee__7AD04FF14ECD3F75] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 3/12/2024 11:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[PackageNumber] [varchar](255) NOT NULL,
	[TypeOfRequest] [varchar](50) NOT NULL,
	[DateSubmitted] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Deadline] [date] NOT NULL,
	[Status] [varchar](255) NULL,
	[Information] [nvarchar](max) NULL,
	[FollowUpPackageNumber] [varchar](255) NULL,
	[Priority] [int] NULL,
	[FileNames] [varchar](260) NULL,
	[Urls] [varchar](512) NULL,
	[Rate] [float] NULL,
	[Spend] [int] NULL,
	[ApproveState] [varchar](10) NULL,
	[DateRemoved] [date] NULL,
	[Reason] [varchar](100) NULL,
	[Summery] [varchar](512) NULL,
 CONSTRAINT [PK__Package__322035ECC80DD3B9] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WPS]    Script Date: 3/12/2024 11:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WPS](
	[WPSFormID] [int] NOT NULL,
	[PackageID] [int] NULL,
	[WPSNo] [varchar](255) NULL,
	[PQRNumber] [varchar](50) NULL,
	[EmployeeID] [int] NULL,
	[CompanyName] [varchar](50) NULL,
	[Date] [datetime] NULL,
	[Detail] [varchar](2048) NULL,
 CONSTRAINT [PK__WPS__63A3988A9086AB33] PRIMARY KEY CLUSTERED 
(
	[WPSFormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  CONSTRAINT [DF_Client_Role]  DEFAULT ('Client') FOR [Role]
GO
ALTER TABLE [dbo].[DrawingRequest]  WITH CHECK ADD  CONSTRAINT [FK__DrawingRe__Packa__5CD6CB2B] FOREIGN KEY([PackageID])
REFERENCES [dbo].[Package] ([PackageID])
GO
ALTER TABLE [dbo].[DrawingRequest] CHECK CONSTRAINT [FK__DrawingRe__Packa__5CD6CB2B]
GO
ALTER TABLE [dbo].[DrawingRequest]  WITH CHECK ADD  CONSTRAINT [FK_DrawingRequest_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[DrawingRequest] CHECK CONSTRAINT [FK_DrawingRequest_Employee]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [FK_Package_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_Client]
GO
ALTER TABLE [dbo].[WPS]  WITH CHECK ADD  CONSTRAINT [FK__WPS__PackageID__44FF419A] FOREIGN KEY([PackageID])
REFERENCES [dbo].[Package] ([PackageID])
GO
ALTER TABLE [dbo].[WPS] CHECK CONSTRAINT [FK__WPS__PackageID__44FF419A]
GO
ALTER TABLE [dbo].[WPS]  WITH CHECK ADD  CONSTRAINT [FK_WPS_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[WPS] CHECK CONSTRAINT [FK_WPS_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK__Employee__Role__37A5467C] CHECK  (([Role]='Reviewer' OR [Role]='Manager' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK__Employee__Role__37A5467C]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [CK__Package__TypeOfR__403A8C7D] CHECK  (([TypeOfRequest]='WPS' OR [TypeOfRequest]='Drawing'))
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [CK__Package__TypeOfR__403A8C7D]
GO
USE [master]
GO
