@attribute [Authorize(Roles = "Admin , Manager")]
@page "/RegisterClient/{CID?}"

<MudLayout >
    <NavMenu></NavMenu>
    <MainMenu></MainMenu>
    <MudMainContent Style="background-color:#F5F5F5;height:100vh; ">

        <MudContainer  MaxWidth="MaxWidth.ExtraLarge"  >
        <main class="container shadow rounded-lg p-4" style="background-color:#0a253b;">
        <div class="row">
            <section class="col-md-12">
                <h2 class="text-center" style="color:white;" >Client Registration</h2>
                <br />
                <EditForm EditContext="editContext">
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name<span class="required-field">∗</span></label>
                            <InputText style="background-color:#DCDCDC;"  id="firstName" class="form-control" @bind-Value="client.FirstName" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <InputText style="background-color:#DCDCDC;" id="lastName" class="form-control" @bind-Value="client.LastName" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="UserName">UserName<span class="required-field">∗</span></label>
                            <InputText style="background-color:#DCDCDC;" id="UserName" class="form-control" @bind-Value="client.UserName" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="email">Email <span class="required-field">*</span></label>
                            <InputText  style="background-color:#DCDCDC;" id="email" class="form-control" @bind-Value="client.Email" placeholder="example@ex.com" />
                        </div>

                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="phone">Phone <span class="required-field">∗</span></label>
                            <InputText  style="background-color:#DCDCDC;" id="phone" class="form-control" @bind-Value="client.Phone" placeholder="Must be 10 digits" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="address1">Address</label>
                                    <InputText style="background-color:#DCDCDC;"  id="city" class="form-control" @bind-Value="client.Address1" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                                    <InputText style="background-color:#DCDCDC;"  id="city" class="form-control" @bind-Value="client.City" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="province">Province</label>
                            <InputSelect id="province" class="form-control" @bind-Value="client.Province">
                                <option value="">Select Province</option>
                                <option value="AB">Alberta</option>
                                <option value="BC">British Columbia</option>
                                <option value="MB">Manitoba</option>
                                <option value="NB">New Brunswick</option>
                                <option value="NL">Newfoundland and Labrador</option>
                                <option value="NS">Nova Scotia</option>
                                <option value="ON">Ontario</option>
                                <option value="PE">Prince Edward Island</option>
                                <option value="QC">Quebec</option>
                                <option value="SK">Saskatchewan</option>
                                <option value="NT">Northwest Territories</option>
                                <option value="NU">Nunavut</option>
                                <option value="YT">Yukon</option>
                            </InputSelect>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="company">Company Name <span class="required-field">∗</span></label>
                                    <InputText style="background-color:#DCDCDC;" id="company" class="form-control" @bind-Value="client.Company" />

                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password <span class="required-field">∗</span> </label>
                                    <InputText style="background-color:#DCDCDC;" id="password" class="form-control" @bind-Value="client.Password" type="password" />
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <MudButton class="mt-4" Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="ClearForm">Clear</MudButton>
                        <MudButton class="mt-4" Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="Save">Save</MudButton>
                    </div>


                </EditForm>
            </section>
        </div>
    </main>
    </MudContainer>
</MudMainContent>>
</MudLayout>