.mud-nav-link {
    color: var(--mud-palette-primary);
}
.containermain
{
    width:auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th,
    .table td {
        text-align: left;
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .table th {
        background-color: #002244;
        color: white;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:nth-child(odd) {
        background-color: #fff;
    }

    .table tr:hover {
        background-color: #ddd;
    }

.no-clients {
    text-align: center;
    padding: 20px;
}
