
﻿
body {
    height: 100%;
    padding-top: 2rem;
    
}
.full-height {
    min-height: 96vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 900px;
}

.btn img {
    transition: opacity 1s ease-in-out;
}

.text-center.mb-3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: dimgrey;
}

.icon-container .btn:hover {
    background-color: #e8f0fe;
}

.login-button {
    border: none;
    background: none;
    padding: 0;
}

.login-button.active img {
    border: 2px solid #007bff; 
    border-radius: 50%; 
}

.account-icon {
    width: 150px;
    height: 150px;
    transition: transform 1s ease;
}

.selected-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    animation: fadeIn 1s ease-in-out;
}

.center-text {
    text-align: center;
    color: #00162a;
    margin: 0;
}

.fgt-pwd {
    color: #00162a;
    text-decoration: none;
}

hr {
    color: #00162a;
}

.account-type-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.account-type button {
    border: none;
    background: none;
    padding: 0;
}

.choose-account-type {
    text-align: center;
}

.account-image {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
