@page "/ResetPwd/{SType}/{SToken}"

<MudLayout >
    <NavMenu></NavMenu>
    <MainMenu></MainMenu>
    <MudMainContent Style="background-color:#F5F5F5;height:100vh; ">
    <MudContainer  MaxWidth="MaxWidth.ExtraLarge"  >
    <main class="container shadow rounded-lg p-4" style="background-color:#0a253b;"></main>
    </MudContainer>
</MudMainContent>>
</MudLayout>